nav {
  display: inline-block;
}

button {
  width: 100%;
}

a {
  padding-right: 25px;
  float: left;
  font-size: 20px;
}
#loginlink {
  float: right;
}

#adminlink {
  float: right;
}

#dropdown {
  float: right;
}
