<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a routerLink="/">Home</a>

    <a routerLink="/runapp">Fizz Buzz App</a>

    <a id="loginlink" [hidden]="onLoginShowLogout()" routerLink="/runapp"
      >Login</a
    >

    <a
      id="adminlink"
      [hidden]="!onLoginShowLogout()"
      routerLink
      (click)="logout()"
      >Log Out</a
    >

    <!-- <a id="adminlink" [hidden]="!onClickShowAdmin()" routerLink="/admin"
      >Manage Users</a
    > -->
    <div id="dropdown" [hidden]="!onClickShowAdmin()">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Manage Users
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/admin">NoSQL - MDB</button>
            <button ngbDropdownItem routerLink="/expressadmin">
              Express SQL
            </button>
            <button ngbDropdownItem routerLink="/sqladmin">SQL</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
