<div>
  <body>
    <button
      type="button"
      id="adminButton"
      class="btn btn-primary"
      data-toggle="button"
      (click)="adminData()"
    >
      clicky
    </button>

    <div class="col-2">
      <table *ngFor="let users of userData | keyvalue">
        <div id="dataList" class="list-group-item">
          Username: {{ users.value.user }} <br />
          Password: {{ users.value.password }} Admin: {{ users.value.admin }}
        </div>
      </table>
    </div>
  </body>
</div>
