button {
  width: 200px;
  height: 40px;
  text-align: inherit;
}

h4 {
  text-align: center;
}

.container {
  margin-left: 35%;
  text-align: center;
  padding-top: 150px;
}

#inputField {
  text-align: center;
}

#inputForm {
  text-align: center;
}

#datarow {
  justify-content: center;
  margin-right: 57%;
}
