<form>
  <div id="usertable">
    <table>
      <div id="dataList" class="list-group-item">
        <div class="input-group mb-3">
          Username
          <input
            [(ngModel)]="userNameForm"
            name="user"
            type="text"
            class="form-control"
            placeholder="Recipient's username"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            value="{{ userData?.user }}"
          />
        </div>
        <div class="input-group mb-3">
          Password
          <input
            [(ngModel)]="userNamePassword"
            name="password"
            type="password"
            class="form-control"
            placeholder="User New Password"
            aria-label="Recipient's password"
            aria-describedby="button-addon2"
          />
        </div>
        <div>
          <div class="input-group mb-3">
            Updated Password
            <input
              [(ngModel)]="updatedPassword"
              name="updatedPassword"
              type="password"
              placeholder="Passwords Must Match"
              aria-label="Recipient's password"
              aria-describedby="button-addon2"
            />
          </div>
        </div>
        <div class="input-group mb-3">
          Admin
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="ogAdmin" name="ogAdmin" />
              {{ ogAdmin }}
            </label>
          </div>
        </div>
      </div>
    </table>
  </div>
  <button
    class="btn btn-outline-primary"
    type="submit"
    id="button-addon2"
    (click)="updateUser()"
  >
    Update
  </button>
  <button
    class="btn btn-outline-danger"
    type="button"
    id="button-addon3"
    routerLink="/admin"
  >
    Go Back
  </button>
</form>
