<body>
  <div class="grid grid-pad">
    <table
      *ngFor="let users of userData | keyvalue; index as i"
      class="col-1-4"
    >
      <a routerLink="/userdetailExpress/{{ i }}">
        <div class="module users">
          <h4>Username: {{ users.value.UserName }}</h4>
          <h4>Admin: {{ users.value.IsAdmin }}</h4>
        </div>
      </a>
    </table>
    <table class="col-1-4">
      <a id="addUser" routerLink="/createUserExpress">
        <div class="module users">
          <h4>Add User +</h4>
        </div></a
      >
    </table>
  </div>
</body>
